# Gemini API Configuration
GEMINI_API_KEY=AIzaSyC3vwKyLo_sPkGbmi6S2VAu6XmXsXCDp8M
GEMINI_MODEL=gemini-2.5-flash

# DeepEval Configuration
CONFIDENT_API_KEY=***************fCX4E=
OPENAI_API_KEY=your_openai_api_key_here

# Database Configuration
DATABASE_URL=sqlite:///data/mowafak.db
